<%- include("navbar") %>
<link rel="stylesheet" href="css/detail_cuisine.css">


<div id="detail_cuisine_body">
    <h1>
      <%= heading %> cuisine
    </h1>

    <div id="grid-layout">
      <% content.forEach((e)=> { %>
        <div class="content">

          <div class="flex_content">

            <div class="detail_cuisine_image">
              <img class="detail_cuisine_img" src="<%=   e.recipe.images.REGULAR.url %>" alt="" />
            </div>

            <div class="detail_cuisine_CTA">
            <a class="learn_more" href="<%= e.recipe.url%>" target="_blank"> learn more </a>
            <buttom class="saved_recipe" id="saved_button" data-value="<%= e.recipe.label %>">save recipe</button>
            </div>
            
            <h3 class="detail_cuisine_heading">
              <%= e.recipe.label %>
            </h3>
            
          </div>

        </div>
      <% }) %>
    </div>
        <script type='text/javascript' src ='/public/index.js'></script>
</div>