<%- include("navbar") %>

<div id="detail_cuisine_body">
  <h1>
    Saved Recipe
  </h1>
  <div id="grid-layout">

  <% content.forEach((cont)=> { %>
    <% cont.forEach((e)=> { %>
      <div class="content">

        <div class="flex_content">

          <div class="detail_cuisine_image">
            <img class="detail_cuisine_img" src="<%=   e.image %>" alt="" />
          </div>

          <div class="detail_cuisine_CTA">
          <a class="learn_more" href="/recipe/target_recipe" value="<%= e.id %>" data-value="<%= e.title %>" target="_blank"> learn more </a>
          <buttom class="saved_recipe" id="saved_button" data-value="<%= e.title %>">Remove</button>
          </div>
          
          <h3 class="detail_cuisine_heading">
            <%= e.title %>
          </h3>
          
        </div>

      </div>
    <% }) %>
  <% }) %>
  </div>
      <script type='text/javascript' src ='/public/remove.js'></script>
</div>